.header {
  background: #0151cc;
  color: #fff;
  min-height: 400px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // responsive
    @media (max-width: 768px) {
      flex-direction: column;
      padding-top: 20px;
      text-align: center;
    }

    h1 {
      font-size: 3rem;
      font-weight: bold;
      line-height: 1.2;
    }

    img {
      width: 400px;
    }
  }
}
